<!-- -*- mode: XML -*- -->

<launch>
    <!-- Load controller configuration to parameter server -->
    <rosparam file="$(find dynamixel_tutorials)/config/dynamixel_joint_controllers.yaml" command="load"/>
            
    <!-- start specified joint controllers -->
    <node name="dynamixel_controller_spawner" pkg="dynamixel_controllers" type="controller_spawner.py"
          args="--manager=dxl_manager
                --port=dx_port
                rightgripper0_controller
                rightgripper1_controller
                Zmotor_controller
                rightshoulderPitch_controller
                rightshoulderRoll_controller
                rightelbow_controller
                rightwristPitch_controller
                rightwristRoll_controller
                headTilt_controller
                headPan_controller"
          output="screen"/>
</launch>
