<!-- -*- mode: XML -*- -->

<launch>
    <node name="dynamixel_manager" pkg="dynamixel_controllers" type="controller_manager.py" required="true" output="screen">
        <rosparam>
            namespace: dxl_manager
            serial_ports:
                dx_port:
                    port_name: "/dev/serial/by-id/usb-FTDI_USBZDXL_ADWAP295-if00-port0"
                    baud_rate: 1000000
                    min_motor_id: 1
                    max_motor_id: 11
                    update_rate: 10
        </rosparam>
    </node>
</launch>
